<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入外部jdbc配置文件 -->
    <properties resource="Oracle.properties"/>
    <environments default="development">
        <!-- 配置oracle环境 -->
        <environment id="development">
            <!-- 配置事务类型 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 注册实体类的映射文件 -->
    <mappers>
        <!-- <mapper resource="hu/entity/Product.xml"/>
        <mapper resource="hu/entity/User.xml"/>
      <mapper resource="hu/entity/ClassInfoMapper.xml"/>-->
        <!-- <package name="hu.entity"/> -->
        <!-- <package name="hu.dao"/> -->
        <!-- <mapper class="hu.dao.ClassInfoMapper"/> -->
        <mapper resource="com/sk/study/demo/mybatis/simple/dao/api/TUserImplDao.xml"/>
        <mapper resource="com/sk/study/demo/mybatis/simple/dao/api/TUserXmlDao.xml"/>
        <mapper class="com.sk.study.demo.mybatis.simple.dao.api.TUserAnnotationDao"/>
    </mappers>
</configuration>