<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入外部jdbc配置文件 -->
    <properties resource="jdbc.properties"/>

    <settings>
        <!-- 延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 按需加载 -->
        <setting name="aggressiveLazyLoading" value="true"/>
        <!-- 日志 -->
        <setting name="logImpl" value="SLF4J"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <!--     配置实体类别名   -->
        <!--    配置类别名, 配置后不再区分大小写-->
        <!--        <typeAlias type="com.sk.study.demo.mybatis.simple.model.PO.TUserPO" alias="TUserPO"></typeAlias>-->
        <typeAlias type="com.sk.study.demo.mybatis.druid.utils.DruidDataSourceFactory" alias="DRUID"/>
        <!--    配置包别名   ,配置后整个包都配置了别名，不区分大小写 -->
        <package name="com.sk.study.demo.mybatis.simple.model.VO"/>
        <package name="com.sk.study.demo.mybatis.simple.model.PO"/>
<!--        <package name="com.sk.study.demo.mybatis.simple.dao.api"/>-->
    </typeAliases>
    <environments default="development">
        <!-- 配置oracle环境 -->
        <environment id="development">
            <!-- 配置事务类型 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源 -->
            <dataSource type="DRUID">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 注册实体类的映射文件 -->
    <mappers>
        <!--        <mapper resource="com/sk/study/demo/mybatis/simple/dao/api/TUserImplDao.xml"/>-->
        <!--        <mapper resource="com/sk/study/demo/mybatis/simple/dao/api/TUserXmlDao.xml"/>-->
        <!--        <mapper resource="com/sk/study/demo/mybatis/simple/dao/api/TUserAliasXmlDao.xml"/>-->
        <!--        <mapper class="com.sk.study.demo.mybatis.simple.dao.api.TUserAnnotationDao"/>-->
        <!--        配置DAO接口所在包，可以不需要使用上面的方式一个一个指定-->
        <package name="com/sk/study/demo/mybatis/simple/dao/api"/>
    </mappers>
</configuration>